/* RatingComponent.css */
.rating-container {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .star {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .star.filled {
    color: gold; /* النجوم المملوءة باللون الذهبي */
  }
  
  .star:hover {
    color: orange; /* تغيير اللون عند مرور الفأرة */
  }
  